# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL = 'postgresql://loukson_asv1_user:rLETPWwlOD4OxpEe2QOlCEtYpsrCu0Tm@dpg-csofvk23esus73env80g-a.oregon-postgres.render.com/loukson_asv1'
REMOVEBG_KEY = 'yepeTQaFk7r9ymusihgXYvdN'
PREFIX = '.'
MODE = 'public'
autoRead= 'false'
BOTNAME = 'NARUTO-MD'
antidelete = 'true'
BOT_NUMBER= '22502331988'
OWNERS = '༒⊟༺𝙻𝙾𝚄𝙺𝚂𝙾𝙽 𝚄𝚉𝚄𝙼𝙰𝙺𝙸༻⊟༒'
SESSION_ID = 
